services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - ollama-net

  backend:
    build: .
    container_name: backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - CHROMADB_HOST=chromadb-server
      - CHROMADB_PORT=8000
    env_file:
      - .env
    command: ["npm", "run", "start:prod"]
    depends_on:
      - mongodb
    networks:
      - ollama-net

volumes:
  mongodb_data:

networks:
  ollama-net:
    external: true


